<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>
    <h1><a href="/login"></a></h1>
    <hr/>
    <div th:if="${nickname == null}">
        <h3>로그인</h3>
        <button onclick="location.href='/login/join'">회원 가입</button>
        <br/><br/>
        <button onclick="location.href='/login/login'">로그인</button>
    </div>
    <div th:unless="${nickname == null}">
        <h3>[[${nickname}]]님 환영합니다!</h3>
        <button onclick="location.href='/login/info'">유저 정보</button>
        <br/><br/>
        <button onclick="location.href='/login/logout'">로그아웃</button>
    </div>
</div>
</body>
</html>